
body {
    background: none;
    font-family: 'Gentona', sans-serif;
    letter-spacing: 1px;
}
h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
    font-family: 'Gentona', sans-serif;
    color: #002D72;
}
a {
    color: #002D72;
}
/* record count badges */
.recordnumber {
    color: #DDD;
    background-color: #002D72;
    font-weight: bold;
    border-radius: 10px;
}

.repository-contact {
    padding: 10px;
}

.site-branding-org {
  float: left;
  width: 240px;
  height: 90px;
  overflow: hidden;
  padding: 10px 0 10px;
  margin: 5px 5px 0 5px;
  vertical-align: middle;
  display: inline-block
}

.site-branding-org img {
  max-width: 300px;
  overflow: hidden;
  margin: -28px 0 0 -30px
}

.site-branding-app-text {
  border-left: 1px solid #000;
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 10px;
  padding: 5px 0 10px 30px;
  float: left;
}

.site-branding-app {
  float: left;
  height: 90px;
  overflow: hidden;
  padding: 0px 0 10px 0;
  margin: 5px 15px 0 0px;
  vertical-align: middle;
  display: inline-flex;
  font-size: x-large;
  text-align: left;
  justify-content: flex-start;
  align-items: center;
  color: #555
}


/* site navigation styling */

#site-main-nav {
    font-family: 'Titling-Gothic', sans-serif;
    background: #002D72;
    color: #BBB;
    border-color: #002D72;
}
#navigation {
    font-family: 'Titling-Gothic', sans-serif;
    color: #002D72;
    border-color: #002D72;
}


#site-main-nav .navbar {
    background: #002D72;
    border-color: #002D72;
    color: #BBB;
    border-radius: 0;
    margin-bottom: 0;

    min-height:42px !important;
}

/* not using... use .navbar-toggle, instead
#site-main-nav .btn-navbar {
    height: 32px;
    width: 33px;
    padding: 7px 10px;
    border: 1px;
    margin: 5px 0px 5px 5px;
}
*/
.navbar-toggle {
    background: #BBB;
    border-color: #BBB;

}
#site-main-nav .navbar-toggle {
    margin-top: 3px;
    margin-bottom: 0;
}
#navigation .navbar-toggle {
    border-color: #002D72;
}
#navigation .navbar-toggle:hover {
    background-color: #eee;
}



.navbar-toggle .icon-bar {
    display: block;
    width: 18px;
    height: 1px;
    background-color: #f5f5f5;
    box-shadow: 0 1px 0 rgba(0,0,0,0.25)
}


#site-main-nav .navbar-brand {
    color: #BBB;
    font-size: 15.5px;
    padding-top: 9px !important;
    height: 40px;
}
#navigation .navbar-brand {
    color: #002D72;
    font-size: 15.5px;
    display: none;
}



#site-main-nav .navbar-nav > li {
    font-family: 'Gentona', sans-serif;
    color: #BBB;
}
#site-main-nav .navbar-nav > li > a {
    padding-top: 11px !important;
    /*    padding-bottom: 0 !important; */
    height: 40px;
}
#site-main-nav .navbar-nav > li a {
    color: #BBB;
    text-shadow: none;
    font-weight: bold;
    font-size: 13px !important;
}
#site-main-nav .navbar-nav > li a:hover {
    color: #EEE;
    text-decoration: none;
}




@media (min-width: 768px) and (max-width: 1000px) {
    #site-main-nav .navbar-brand {
        display: none;
    }

    #site-main-nav .navbar-nav {
        align: middle;
    }
}
@media (max-width: 767px) {
    .navbar-brand:hover {
        font-weight: bold;
        cursor: pointer;
    }
    #site-main-nav .navbar-brand:hover {
        color: #EEE;
    }
    #navigation .navbar-brand {
        display: inline-block;
    }
    #navigation .navbar-brand:hover {
        cursor: pointer;
    }

}


:not(path):not(g) { /*
    color:                    hsla(210, 100%, 100%, 0.9) !important;
    background:               hsla(210, 100%,  50%, 0.5) !important;
    outline:    solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;

    box-shadow: none !important;
*/ }

